@inject ISidebarService SidebarService
@implements IDisposable
<div class="wrapper @(SidebarService.IsToggled ? "toggled" : "")">
    <aside class="sidebar-wrapper">
        <div class="sidebar-brand">
            <a class="sidebar-toggle"
               @onclick="ToggleSidebar">
                <i class="fa fa-bars"></i>
            </a>
            <h2>@BrandTitle</h2>
        </div>
        <ul class="sidebar-nav">
            @RenderMenuItems(MenuItems)
        </ul>
    </aside>
</div>