@inherits LayoutComponentBase
@inject ISidebarService SidebarService
@inject IModalService ModalService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main @onclick="@(() =>
                    {
                        SidebarService.SetState(true);
                        ModalService.HideModal();
                    })">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div data-nosnippet
     id="blazor-error-ui">
    An unhandled error has occurred.
    <a class="reload"
       href=".">
        Reload
    </a>
    <span class="dismiss">🗙</span>
</div>