@page "/"
@inject ISidebarService SidebarService
<PageTitle>Home</PageTitle>

<button class="btn btn-danger"
        @onclick="@(() => SidebarService.Toggle())">
    Click Me to toggle NavBar
</button>